div {
  color: blue;
  font-size: 50px;
  font-weight: bold;
  line-height: 75px;
}

.box {
  /* height: 200px; */
  background-color: green;
  border: 10px solid black;
  margin-bottom: 25px;
  padding: 20px;
  /* padding: 10px 15px 20px 25px; 
    padding:10px 20px; */
}

.content {
  height: 200px;
  background-color: grey;
  border-radius: 20px;
}

div{
    display:inline-block;
}
 
